{% load i18n %}
<div class="tas_block">
    <h2 class="display-name">{{ display_name }}</h2>
    <div class="instructions">
        <p class="instructions-text">{{ instructions }}</p>
    </div>
    <div class="template">
        {% if template_type and template %}

            {% if is_course_staff %}
                <a href="#" id="submit_grade">{% trans "Grade Available Responses" %}</a>
            {% else %}
                <a href="#" id="submit_assignment">{% trans "Submit Assignment" %}</a>
            {% endif %}

        {% else %}
        <p>{% trans "No template selected" %}</p>
        {% endif %}
    </div>
</div>

