{% load i18n %}

<!-- ================= TABS ================= -->

<div class="tas-tabs">
    <button class="tab-btn active" data-tab="settings">Settings</button>
    <button class="tab-btn" data-tab="rubrics">Rubrics</button>
</div>

<!-- ================= SETTINGS TAB ================= -->

<div class="tab-content settings-tab active">
    <div class="wrapper-comp-settings editor-with-buttons is-active tas-edit-block"
     id="settings-tab"
     data-rubrics='{{ rubrics|safe }}'>

    <ul class="list-input settings-list">
        
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="tas_edit_display_name">{% trans "Display Name" %}</label>
                <input class="input setting-input" id="tas_edit_display_name" value="{{ display_name }}" type="text">
            </div>
            <span class="tip setting-help">{% trans "This name appears in the horizontal navigation at the top of the page." %}</span>
        </li>
        
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="tas_edit_template_type">{% trans "Template Type" %}</label>
                <select class="input setting-input" id="tas_edit_template_type">
                    {% for template_type in assignment_template_types %}
                        <option value="{{ template_type.id }}" {% if template_type.id|stringformat:"s" == current_template_type %}selected{% endif %}>
                            {{ template_type.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <span class="tip setting-help">{% trans "Select type of the template to use for the template based assignment." %}</span>
        </li>
        
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="tas_edit_template">{% trans "Template" %}</label>
                <select class="input setting-input" id="tas_edit_template">
                    {% for template in assignment_templates %}
                        <option value="{{ template.id }}" {% if template.id|stringformat:"s" == current_template %}selected{% endif %}>
                            {{ template.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <span class="tip setting-help">{% trans "Select the template to use for the template based assignment." %}</span>
        </li>

        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="tas_edit_instructions">{% trans "Instructions" %}</label>
                <textarea class="input setting-input" id="tas_edit_instructions" rows="4">{{ instructions }}</textarea>
            </div>
            <span class="tip setting-help">{% trans "Write instructions for the student to follow while submitting the assignment." %}</span>
        </li>

    </ul>

</div>

</div>

<!-- ================= RUBRICS TAB ================= -->

<div class="tas-rubrics-section tab-content rubrics-tab">

<h3>Rubrics</h3>
<p class="rubrics-help">{% trans "Define each grading criterion and its scoring options." %}</p>

<div class="criteria-list"></div>

<button type="button" class="add-criterion button action-primary">+ {% trans "Add Criterion" %}</button>

</div>

    <div class="xblock-actions">
        <ul>
            <li class="action-item">
                <a href="#" class="button action-primary action-save">{% trans "Save" %}</a>
            </li>
            <li class="action-item">
                <a href="#" class="button action-cancel">{% trans "Cancel" %}</a>
            </li>
        </ul>
    </div>